<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{235,306}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{235,306}}</string>
                <key>sourceSize</key>
                <string>{261,340}</string>
            </dict>
            <key>SavePets_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1386}}</string>
                <key>sourceSize</key>
                <string>{640,1386}</string>
            </dict>
            <key>SavePets_Icon_Cube1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1468},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>SavePets_Icon_Cube2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1470},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>SavePets_Icon_Cube3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1390},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>SavePets_Icon_Cube4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1390},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>SavePets_Icon_Cube5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1550},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>SavePets_Icon_Cube6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1470},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toonblast.png</string>
            <key>size</key>
            <string>{644,1627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b119ef065637c4bfdab56c2deb6318c$</string>
            <key>textureFileName</key>
            <string>toonblast.png</string>
        </dict>
    </dict>
</plist>
